<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Articles de la marque {{ brandId }}</h2>
    </div>

    <div class="col-md-4" *ngFor="let article of articles">
      <div class="single-article">
        <img
          [src]="article.images[0]?.data"
          alt="{{ article.libelle }}"
          class="img-fluid"
        />
        <h4>{{ article.libelle }}</h4>
        <p>Prix : {{ article.prix_ttc }} €</p>
        <button class="btn btn-primary">Voir les détails</button>
      </div>
    </div>
  </div>
</div>
