<div class="floating-chat-button" (click)="toggleChatMenu()">
  <img [src]="currentIcon" alt="Chat Icon" class="chat-icon">
</div>

<div class="chat-menu" *ngIf="isChatMenuOpen">
  <ul>
    <li>
      <a href="https://www.facebook.com/LibrairiepilotesfaxBac/" target="_blank">
        <img src="assets/img/messanger-icon.png" alt="Messenger">
        Facebook Messenger
      </a>
    </li>
    <li>
      <a href="https://wa.me/21644756660" target="_blank">
        <img src="assets/img/whatsapp-icon.png" alt="WhatsApp">
        WhatsApp
      </a>
    </li>
    <li>
      <a href="tel:+21644756660">
        <img src="assets/img/phone-icon.png" alt="Call">
        Rappelez-moi
      </a>
    </li>
  </ul>
</div>
